html{
	font-family:"Charter BT W01",Georgia;
}
body{
	margin:0;
	background: #FAFAFA;
}
#banner{
	background: url('../images/cover.png') fixed #F34123;
    position: absolute;
    width: 100%;
	min-height: 300px;
    height: 300px;;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-box-shadow: inset -1px 0 0 rgba(0,0,0,0.3);
    -moz-box-shadow: inset -1px 0 0 rgba(0,0,0,0.3);
    box-shadow: inset -1px 0 0 rgba(0,0,0,0.3);
}
#content-wrapper{
	position: relative;
	display: block;
	margin: 33px auto;
	width: 100%;
	max-width: 1300px;
}
#content{
	position: relative;
	max-width: 100%;
	margin: 380px auto 33px;
	text-align: center;
	background: #FAFAFA;
}
#content-article{
	position: relative;
	display: inline-block;
	float: left;
	max-width: 60%;
	text-align: left;
	background: #FAFAFA;
	margin-bottom: 33px;

}
hr{
	border:none;
	border-bottom: 1px solid #eee;
}
#display-type{
	display:inline-block;
}
#follow{
	padding-top:27px;
	text-align: center;
}
#follow a{
	text-decoration: none;
}
#follow img{
	width:30px;
	height:30px;
}
.highlighttable{
	background: #F3F3F3;
	color: rgb(185, 65, 45);
	font-size: 18px;
	padding: 0 21px;
}
.linenos{
	color: #999;
}
/*Sidebar*/
#sidebar{
	position: relative;
	display: inline-block;
	width: 25%;
	float: left;
	text-align: right;
	padding: 0 50px;
}
#article-prof-img img{
	position: relative;
	width: 90px;
	height: 90px;
	border-radius: 50%;
	padding: 3px;
	border: 1px solid #DDD;
	background: #FFF;
}

/*Home*/
ul#post-list{
	display:block;
	list-style:none;
	width: 80%;
	max-width: 800px;
	margin: auto;
	padding:0;
}
ul#post-list li{
	padding: 33px 0;
	border-bottom: 1px solid #eee;
}
ul#post-list li:last-child{
	border-bottom:0;
}
h1.entry-title{
	font-size:33px;
	margin: 19px auto;
}
article h1 a{
	color: #000;
	text-decoration:none;
}
article h1 a:hover{
	text-decoration:underline;
}
.entry-content{
	font-size:21px;
	line-height:1.8;
	color: #414141;
}
p a {
	color: #000;
}
#profile-img{
	position: absolute;
	margin-top: -130px;
	left: 50%;
	margin-left:-60px;
	text-align:center;
}
#profile-img img{
	position: relative;
	width: 120px;
	height: 120px;
	border-radius: 50%;
	padding: 3px;
	border: 1px solid #DDD;
	background: #FFF;
}
#site-name{
	position: relative;
	margin: -25px auto 12px;
	font-family: 'Oleo Script', cursive;
	font-weight:400;
	font-size: 55px;
	padding-top: 21px;
	padding-bottom: 55px;
	max-width: 800px;
	border-bottom: 2px solid #eee;
}
#site-name a{
	color: #212121;
}
#site-caption{
	font-size: 21px;
	color: #777;
}
.code{
	color: #2e7d32;
	background: #f1f1f1;
	padding: 19px;
	font-size: 15px;
	overflow-y: scroll;
}
/*Extra*/
table {
	border-collapse: collapse;
}
table tr td {
	white-space: pre-wrap;
	word-wrap: break-word;
	padding: 5px 11px;
}
/*Footer*/
footer{
	position: relative;
	color:#313131;
	text-align:center;
	line-height:1.7;
	background: #F7F7F7;
	border-top: 1px solid #f3f3f3;
	padding: 39px 0;
	clear: both;
}
