{% extends "base.html" %}
{% block head %}
{{ super() }}
{% if article.description %}
<meta name="description" content="{{article.description}}" />
{% endif %}

{% for tag in article.tags %}
<meta name="tags" content="{{tag}}" />
{% endfor %}

{% endblock %}

{% block content %}
<div id="content-wrapper">
	<section id="sidebar">
	<div id="article-prof-img"><img src="theme/images/{{ PROFILE_IMG }}" alt="profile-image"></div>
	<h3>{{ article.author }}</h3>
	<p><i>A mind forever voyaging through strange seas of thoughts...</i></p>
	<div class="post-info">
		<time class="published" datetime="{{ article.date.isoformat() }}">
			{{ article.locale_date }}
		</time>
		{% if article.modified %}
		<time class="modified" datetime="{{ article.modified.isoformat() }}">
			{{ article.locale_modified }}
		</time>
		{% endif %}
		<div><br><br>
			<a href="index.html">Home</a>
		</div>
	</div><!-- /.post-info -->
	</section>
	<section id="content-article">
		<header>
			<h1 class="entry-title">
				{{ article.title }}
			</h1>
			<hr/>
			{% import 'translations.html' as translations with context %}
			{{ translations.translations_for(article) }}
		</header>
		<div class="entry-content">
			{{ article.content }}
		</div><!-- /.entry-content -->
	</section>
</div>
{% endblock %}
	
