<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
	<head>
		{% block head %}
		<meta charset="utf-8" />
		<title>{% block title %}wandermind - a mind forever voyaging through strange seas of thoughts{% endblock title %}</title>
		<link href="https://fonts.googleapis.com/css?family=Oleo+Script" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="theme/css/style.css" />
		{% if FEED_ALL_ATOM %}
		<link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
		{% endif %}
		{% if FEED_ALL_RSS %}
		<link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
		{% endif %}
		{% if FEED_ATOM %}
		<link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
		{% endif %}
		{% if FEED_RSS %}
		<link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
		{% endif %}
		{% if CATEGORY_FEED_ATOM and category %}
		<link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(category.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed" />
		{% endif %}
		{% if CATEGORY_FEED_RSS and category %}
		<link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(category.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed" />
		{% endif %}
		{% if TAG_FEED_ATOM and tag %}
		<link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(tag.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed" />
		{% endif %}
		{% if TAG_FEED_RSS and tag %}
		<link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(tag.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed" />
		{% endif %}
		{% endblock head %}
	</head>
	
	<body id="index" class="home">
		<nav id="menu"><ul>
			{% for title, link in MENUITEMS %}
			<li><a href="{{ link }}">{{ title }}</a></li>
			{% endfor %}
			{% if DISPLAY_PAGES_ON_MENU %}
			{% for p in pages %}
			<li{% if p == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
			{% endfor %}
			{% else %}
			{% if DISPLAY_CATEGORIES_ON_MENU %}
			{% for cat, null in categories %}
			<li{% if cat == category %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
			{% endfor %}
			{% endif %}
			{% endif %}
		</ul></nav><!-- /#menu -->
		{% block content %}
		{% endblock %}
		<footer id="content-footer" class="body">
			&copy copyright 2017 suhail.org
			<address id="about" class="vcard body">
				Built using <a href="{{ LINKS.python }}" target="_blank">Python</a> & 
				<a href="{{ LINKS.emacs }}" target="_blank">Emacs</a> on
				<a href="{{ LINKS.debian }}" target="_blank">Debian</a>.
			</address><!-- /#about -->
			<b>Designed and developed by Suhail</b>
		</footer><!-- /#contentinfo -->
	</body>
</html>
