{% extends "base.html" %}
{% block content %}
<header id="banner"></header><!-- /#banner -->
<section id="content">
{% block content_title %}
{% endblock %}
	<div id="profile-img"><img src="theme/images/{{ PROFILE_IMG }}" alt="profile-image"></div>
	<div id="site-name">
		WanderMind
		<div id="site-caption">A mind forever voyaging through strange seas of thoughts.</div>
		<div id="follow">
			<a href="{{ SOCIAL.goodreads }}" target="_blank">
				<img src="theme/images/goodreads.png" title="Goodreads" alt="Goodreads Profile">
			</a>
			<a href="{{ SOCIAL.github }}" target="_blank">
				<img src="theme/images/github.png" title="Github" alt="Github Profile">
			</a>
			<a href="{{ SOCIAL.linkedin }}" target="_blank">
				<img src="theme/images/linkedin.png" title="Linkedin" alt="LinkedIn Profile">
			</a>
			<a href="{{ SOCIAL.diaspora }}" target="_blank">
				<img src="theme/images/diaspora.png" title="Diaspora" alt="Diaspora Profile">
			</a>
		</div>
	</div>
	<ul id="post-list">
		<div style="float:left;color:rgba(0,0,0,0.3);">Latest Posts</div>
		{% for article in articles_page.object_list|sort(attribute='sortorder') %}
        <li>
			<article class="hentry">
				<header>
					<h1 class="entry-title"><a href="{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h1>
				</header>
				<div class="post-info">
					<time class="published" datetime="{{ article.date.isoformat() }}"> - <i>{{ article.locale_date }}</i> - </time>
				</div><!-- /.post-info -->
				<div class="entry-content"> {{ article.summary }}</div><!-- /.entry-content -->
			</article>
		</li>
		{% endfor %}
	</ul><!-- /#posts-list -->
	{% if articles_page.has_other_pages() %}
	{% include 'pagination.html' %}
	{% endif %}
</section><!-- /#content -->
{% endblock content %}
